[submodule "vendor/deception-detection"]
	path = vendor/deception-detection
	url = https://github.com/ApolloResearch/deception-detection.git
[submodule "vendor/Carrot-Parsnip-Tournament-Benchmark"]
	path = environments/carrot_parsnip
	url = https://github.com/reinthal/Carrot-Parsnip-Tournament-Benchmark.git
